{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

    <body class="{{body_class}} {{layout}}" data-template="base.twig" data-view="{{site_view}}">
        <div class="site-container">

            {% do action('tha_header_before') %}
            <header class="site-header" >
                {% block header %}
                {% do action('tha_header_top') %}
                <div class="wrapper container">
                    <div class="site-logo" role="banner">
                        <a class="hdr-logo-link" href="/" rel="home">{{site.name}}</a>
                        <div class="tagline">{{ site.description }}</div>
                    </div>
                    <nav class="main-navigation" role="navigation">
                        <ul class="nav">
                            {% for item in mainMenu.items %}
                                <li class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
                                    <a href="{{item.link}}">{{item.title}}</a>
                                </li>
                            {% endfor %}
                            {% do action('mw_mainMenu_options') %}
                        </ul>
                    </nav><!-- #access -->

                </div>
                {% do action('tha_header_bottom') %}
                {% endblock %}
            </header>
            {% do action('tha_header_after') %}

            {% block banner %}
                <div am-banner>
                    {% block bannerinner %}
                        {% do action('mwh_banner') %}
                        {% include "partials/header-image.twig" %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% do action('tha_content_before') %}

            <section role="main" class="site-content">

                <div class="inner">

                    {% if title %}<h1>{{title}}</h1>{% endif %}

                    {% block content %}
                        Sorry, no content
                    {% endblock %}
                </div>

            </section>

            {% do action('tha_content_after') %}

            {% do action('tha_footer_before') %}
            <footer class="site-footer" >
                {% do action('tha_footer_top') %}

                {% block footer %}
                    {% include 'footer.twig' %}
                {% endblock %}

                {% do action('tha_footer_bottom') %}
            </footer>
            {% do action('tha_footer_after') %}

        </div>

        {{ function('wp_footer') }}

    </body>
</html>
