{% block html_head_container %}
{% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
    <body class="{{body_class}} {{layout}}" data-template="base.twig" data-view="{{site_view}}">

        {% do action('tha_header_before') %}
        <header class="header" >
            {% block header %}
            {% do action('tha_header_top') %}
            <div class="wrapper">

                <h1 class="hdr-logo" role="banner">
                    <a class="hdr-logo-link" href="/" title="Timber" rel="home">{{site.name}}</a>
                </h1>
                <nav class="main-navigation" role="navigation">
                    <ul>
                    {% for item in mainMenu.items %}
                        <li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
                            <a href="{{item.link}}">{{item.title}}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </nav><!-- #access -->

            </div>
            {% do action('tha_header_bottom') %}
            {% endblock %}
        </header>

        <section role="main" class="main-wrapper">

            {% if title %}<h1>{{title}}</h1>{% endif %}

            {% block content %}
                Sorry, no content
            {% endblock %}

            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}

        </section>

        {% block footer %}
            <footer id="footer">
                {% include 'footer.twig' %}
            </footer>
            {{ function('wp_footer') }}
        {% endblock %}

    </body>
</html>
