{% do action('tha_footer_top') %}

Copyright {{"now"|date('Y')}}

<nav id="access" class="main-navigation" role="navigation">
    <ul>
    {% for item in footerNav.items %}
        <li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
            <a href="{{item.link}}">{{item.title}}</a>
        </li>
    {% endfor %}
    </ul>
</nav>
{% do action('tha_footer_bottom') %}