
<div class="container">

    <div class="sidebar">
        {{footerWidgets1}}
        {{footerWidgets2}}
        {{footerWidgets3}}
        {{footerWidgets4}}
    </div>

    <div class="legal-info">Copyright {{"now"|date('Y')}}</div>

</div>