{% extends "base.twig" %}

{% block content %}

    <div class="content-wrapper">

        {% do action('tha_content_top') %}

        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="article-content">
                <div class="article-body">
                    <h1>{{post.title}}</h1>
                    <div class="meta">
                        {{post.date|date("F jS\\, Y")}} in {{ post.terms('categories')|first }}
                    </div>
                    {{post.content}}
                </div>
            </section>
        </article>

        {% do action('tha_content_bottom') %}

    </div>

{% endblock %}