{% extends "base.twig" %}


{% block banner %}
<div class="cover">
    <div class="cover-frame">
        <div class="container">
            <h1>{{post.title}}</h1>
            <div class="meta">
                {{post.date|date("F jS\\, Y")}} in {{ post.terms('categories')|first }}
                | Comments: {{ post.comments|length }}
            </div>
        </div>
    </div>
    <div class="cover-image" style="background-image: url({{ post.thumbnail.src('original') }})"></div>
</div>
{% endblock %}

{% block content %}

    <div class="content-wrapper">

        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">

            <section class="article-content">

                {% if post.post_excerpt %}
                    <p class="lead">{{ post.post_excerpt }} </p>
                {% endif %}

                <div class="article-body">
                    {{post.content}}
                </div>

            </section>


            {% block posts_navigation %}
                <nav class="nav-seemore">
                    <div>
                        {% if post.prev %}
                            <h4>Prev. Entry:</h4>
                            <h3 class="entry-title"><a href="{{post.prev.link}}">{{post.prev.title}}</a></h3>
                        {% endif %}
                    </div>
                    <div>
                        {% if post.next %}
                            <h4>Next Entry:</h4>
                            <h3 class="entry-title"><a href="{{post.next.link}}">{{post.next.title}}</a></h3>
                        {% endif %}
                    </div>
                </nav>
            {% endblock %}


            {% do action('tha_comments_before') %}

            <section class="comments">

                <header>
                    <h3>{{ post.comments|length }} Comments</h3>
                </header>

                <div class="responses">
                    {% for cmt in post.get_comments() %}
                        {% include "comment.twig" with {comment:cmt} %}
                    {% endfor %}
                </div>

                <div class="respond">
                    {{ comment_form }}
                </div>

            </section>

            {% do action('tha_comments_after') %}

        </article>

    </div> <!-- /content-wrapper -->

{% endblock %}