<div class="site-banner">
    <div class="inner" style="background-image: url({{ TimberImage( banner.meta('banner_top_image') ).src }});">
        <div class="container">
            {% for link in banner.get_field('banner_link') %}
                <h2>
                    <a href="{{link.permalink}}">{{banner.title}}</a>
                </h2>
            {% endfor %}
            <p>{{ banner.description }}</p>
            <p>{{ banner.button_text }}</p>

            <!-- {{ banner.meta('banner_link') }} -->
            <!-- {{ dump(banner) }} -->
            <!-- {{ dump(banner.meta('banner_link')|first ) }} -->
        </div>
    </div>
</div>