{% extends "base.twig" %}

{% block content %}

{% if children %}
    <div class="loop loop--categories">
    {% for category in children %}
        <div class="item">
        {{category|print_r}}
            <img src="{{TimberImage( fn('get_field', 'category_image', 'category_' ~ category.term_id ) ).src | resize(200) }}" />
            <a href="" class="item-title">{{ category.name }} - {{category.term_id}}</a>
            {{ category.description }}

        </div>
    {% endfor %}
    </div>
{% endif %}

{% for post in posts %}
	{% include ["tease-"~post.post_type~".twig", "tease.twig"] %}
{% endfor %}

{% endblock %}