{% extends "base.twig" %}

{% do action('tha_entry_before') %}

{% block content %}

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">

                {% do action('tha_entry_top') %}

                <h1 class="article-h1">{{post.title}}</h1>
                {% if post.post_excerpt %}
                    <p class="lead">{{ post.post_excerpt }} </p>
                {% endif %}
                <div class="article-info">
                    <div class="article-meta">
                        <span class="article-date">{{ post.post_date|date}}</span>
                        <ul class="inline-list">
                            <li><h6>In:</h6></li>
                            {% for term in post.terms('categories') %}
                                <li><a href="{{ term.link }}">{{term}}</a></li>
                            {% endfor %}
                        </ul>
                        <ul class="inline-list">
                            <li><h6>Tags:</h6></li>
                            {% for term in post.terms('tags') %}
                                <li><a href="{{ term.link }}">{{term}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="article-author">
                        <span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a>
                    </div>
                </div>

				<div class="article-body">
					{{post.content}}
				</div>

                {% do action('tha_entry_bottom') %}

			</section>


            {% block posts_navigation %}
                <nav class="nav-seemore">
                    <div>
                        {% if post.prev %}
                            <h4>Prev. Entry:</h4>
                            <h3><a href="{{post.prev.link}}">{{post.prev.title}}</a></h3>
                        {% endif %}
                    </div>
                    <div>
                        {% if post.next %}
                            <h4>Next Entry:</h4>
                            <h3><a href="{{post.next.link}}">{{post.next.title}}</a></h3>
                        {% endif %}
                    </div>
                </nav>
            {% endblock %}


            {% do action('tha_comments_before') %}

			<section class="comments">

                <div class="responses">
					{% for cmt in post.get_comments() %}
						{% include "comment.twig" with {comment:cmt} %}
					{% endfor %}
				</div>
                <div class="respond">
                    <h3 class="h2">Comments</h3>
                    {{ comment_form }}
                </div>

			</section>

            {% do action('tha_comments_after') %}

		</article>
	</div> <!-- /content-wrapper -->

{% endblock %}

{% do action('tha_entry_after') %}