<article class="entry entry-{{post.post_type}}">
    <div class="Media">
        {% do action('tha_entry_top') %}
        {% block content %}

            {% if post.get_thumbnail and showthumb %}
                <div class="Media-figure entry-image">
                    <img src="{{ post.thumbnail.src('thumbnail') }}" />
                </div>
            {% endif %}

            <div class="Media-content entry-content">
                <h2 class="entry-title"><a href="{{post.link}}">{{post.title}}</a></h2>
                <p>{{post.get_preview(35)}}</p>
            </div>

        {% endblock %}
    	{% do action('tha_entry_bottom') %}
    </div>
</article>

