{% extends "base.twig" %}

{% block content %}

    {% do action('woocommerce_before_main_content') %}

    <h1>{{ fn('__','Store','woocommerce')}}</h1>

    <div class="loop loop--cards product-cats">
        {% for cat in cats %}
            <div class="entry">

                {{ TimberImage( cat.meta('thumbnail_id') ).src }}
                {{ cat.thumbnail_id }}
                {{ cat.thumbnail.src }}

                <a href="{{cat.link}}" class="entry-title">{{cat.name}}</a>
                {% if cat.description %}
                    <div class="entry-details">{{ cat.description }}</div>
                {% endif %}
                <!-- {% if not loop.last %} / {% endif %} -->
            </div>
        {% endfor %}
    </div>

    <div class="before-shop-loop">
        {% do action( 'woocommerce_before_shop_loop') %}
    </div>

    <div class="loop loop--cards">
        {% for entry in products %}

            {% include ["woo/tease-product.twig"] %}

        {% endfor %}
    </div>

    {% do action('woocommerce_after_shop_loop') %}
    {% do action('woocommerce_after_main_content') %}

{% endblock  %}